@model ViewModel
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/Admin.css" rel="stylesheet" />
</head>
<header role="banner">
    <h1>BS</h1>
    <ul class="utilities">
        <br>
        <li class="users"><a href="/Admin/AdminProfil"> @Session["kullaniciad"]</a></li>
        <li class="logout warn"><a href="/Giris/AdminCikis">Çıkış Yap</a></li>
    </ul>
</header>
<nav role='navigation'>
    <ul class="main">
        <li class="dashboard"><a href="/Admin/AdminAnasayfa">Yönetim Paneli</a></li>
        <li class="users"><a href="/Admin/Kullanicilar">Kullanıcılar</a></li>
        <li class="write"><a href="/Admin/Egitmenler">Eğitmenler</a></li>
        <li class="write"><a href="/Admin/EgitmenBasvuru">Basvurular</a></li>
        <li class="comments"><a href="/Admin/Egitimler">Eğitimler</a></li>
    </ul>
</nav>

<main role="main">

    <section class="panel important">
        <h2>Kullanıcılar</h2>
    </section>

    <section class="panel important" style="padding:40px">
        <table class="table table-bordered table table-hover" id="tablo">
            <thead>
                <tr>
                    <th> Eğitim Başlık</th>
                    <th> Açıklama</th>
                    <th> Düzey</th>
                    <th>Dil</th>
                    <th>Kategori</th>
                    <th>Eğitimci</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.Kurss)
                {

                    <tr>
                        <td>@o.kursbaslik</td>
                        <td>@o.aciklama</td>
                        <td>@o.Düzey</td>
                        <td>@o.Dil</td>
                        <td>@o.Kategori.Kategoriad</td>
                        <td>@o.Kullanici.KullaniciId</td>
                    </tr>

                }
            </tbody>
        </table>
    </section>
</main>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script>
    $('#tablo').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
            infoEmpty: "Hiç kayıt bulunamadı.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Eşleşen bir kayıt bulunamadı.",
            search: "Ara:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            lengthMenu: "Sayfada _MENU_ kayıt göster",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },

            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        }
    });
    $(function () {
        $('#tablo').on("click", ".btnKullaniciSil", function () {
            var btn = $(this);
            bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/OgrenciIsleri/KullaniciSil/" + id,
                        success: function () {
                            btn.parent().parent().remove();
                        }
                    }).fail(function () {
                        bootbox.alert('Silmek istediğiniz eğitmenin ders kaydı bulunmaktadır.');

                    });
                }
            })

        });
    });
    $(document).ready(function () {
        $(".close").click(function () {
            $("#myAlert").alert("close");
        });
    });
</script>