@model ViewModel
@{
    ViewBag.Title = "EgitimVer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/homeanasayfa.css" rel="stylesheet" />
</head>
<main>
    <section class="slides">

        <section class="slides-nav">
            <nav class="slides-nav__nav">
                <button class="slides-nav__prev js-prev">Prev</button>
                <button class="slides-nav__next js-next">Next</button>
            </nav>
        </section>

        <section class="slide is-active">
            <div class="slide__content">
                <figure class="slide__figure"><div class="slide__img" style="background-image: url(https://source.unsplash.com/nfTA8pdaq9A/2000x1100)"></div></figure>
                <header class="slide__header">
                    <h2 class="slide__title">
                        <span class="title-line"><span>Bizimle</span></span>
                        @if ((Session["yetkiid"] != null)
)
                        {
                            <span class="title-line"><span>Öğreninin  @Session["kullaniciad"]</span></span>
                        }
                        else
                        {
                            <span class="title-line"><span>Öğreninin</span></span>

                        }
                    </h2>
                </header>
            </div>
        </section>

        <section class="slide">
            <div class="slide__content">
                <figure class="slide__figure"><div class="slide__img" style="background-image: url(https://source.unsplash.com/WuQME0I_oZA/2000x1100)"></div></figure>
                <header class="slide__header">
                    <h2 class="slide__title">
                        <span class="title-line"><span>Geleceğinizi</span></span>
                        <span class="title-line"><span>Keşfedin</span></span>
                    </h2>
                </header>
            </div>
        </section>

        <section class="slide">
            <div class="slide__content">
                <figure class="slide__figure"><div class="slide__img" style="background-image: url(https://source.unsplash.com/NsWcRlBT_74/2000x1100)"></div></figure>
                <header class="slide__header">
                    <h2 class="slide__title">
                        <span class="title-line"><span>Hayatınıza, Ayak Uyduran</span></span>
                        <span class="title-line"><span>Öğrenim Deneyimi</span></span>
                    </h2>
                </header>
            </div>
        </section>
    </section>
</main>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
            @foreach (var o in Model.Kurss)
            {
            <a href="/Home/KursDetay/@o.KursId" style="color:black; text-decoration:none" >
                <div class="col " data-bs-toggle="tooltip" data-bs-placement="top" title="@o.kursbaslik" >

                    <div class="card shadow-sm" style="height:500px">
                        <img style="height:400px" src="@o.kursgoruntu" />
                        <div class="card-body">
                            <h4 class="card-text">
                                @o.kursbaslik
                            </h4>
                            <p class="card-text">
                                @o.aciklama
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">@o.Kullanici.Kullaniciadi</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    (function ($) {

        var SliceSlider = {

            /**
             * Settings Object
             */
            settings: {
                delta: 0,
                currentSlideIndex: 0,
                scrollThreshold: 40,
                slides: $('.slide'),
                numSlides: $('.slide').length,
                navPrev: $('.js-prev'),
                navNext: $('.js-next'),
            },

            /**
             * Init
             */
            init: function () {
                s = this.settings;
                this.bindEvents();
            },

            /**
             * Bind our click, scroll, key events
             */
            bindEvents: function () {

                // Scrollwheel & trackpad
                s.slides.on({
                    'DOMMouseScroll mousewheel': SliceSlider.handleScroll
                });
                // On click prev
                s.navPrev.on({
                    'click': SliceSlider.prevSlide
                });
                // On click next
                s.navNext.on({
                    'click': SliceSlider.nextSlide
                });
                // On Arrow keys
                $(document).keyup(function (e) {
                    // Left or back arrows
                    if ((e.which === 37) || (e.which === 38)) {
                        SliceSlider.prevSlide();
                    }
                    // Down or right
                    if ((e.which === 39) || (e.which === 40)) {
                        SliceSlider.nextSlide();
                    }
                });
            },

            /**
             * Interept scroll direction
             */
            handleScroll: function (e) {

                // Scrolling up
                if (e.originalEvent.detail < 0 || e.originalEvent.wheelDelta > 0) {

                    s.delta--;

                    if (Math.abs(s.delta) >= s.scrollThreshold) {
                        SliceSlider.prevSlide();
                    }
                }

                // Scrolling Down
                else {

                    s.delta++;

                    if (s.delta >= s.scrollThreshold) {
                        SliceSlider.nextSlide();
                    }
                }

                // Prevent page from scrolling
                return false;
            },

            /**
             * Show Slide
             */
            showSlide: function () {
                // reset
                s.delta = 0;
                // Bail if we're already sliding
                if ($('body').hasClass('is-sliding')) {
                    return;
                }
                // Loop through our slides
                s.slides.each(function (i, slide) {

                    // Toggle the is-active class to show slide
                    $(slide).toggleClass('is-active', (i === s.currentSlideIndex));
                    $(slide).toggleClass('is-prev', (i === s.currentSlideIndex - 1));
                    $(slide).toggleClass('is-next', (i === s.currentSlideIndex + 1));

                    // Add and remove is-sliding class
                    $('body').addClass('is-sliding');

                    setTimeout(function () {
                        $('body').removeClass('is-sliding');
                    }, 1000);
                });
            },

            /**
             * Previous Slide
             */
            prevSlide: function () {

                // If on first slide, loop to last
                if (s.currentSlideIndex <= 0) {
                    s.currentSlideIndex = s.numSlides;
                }
                s.currentSlideIndex--;

                SliceSlider.showSlide();
            },

            /**
             * Next Slide
             */
            nextSlide: function () {

                s.currentSlideIndex++;

                // If on last slide, loop to first
                if (s.currentSlideIndex >= s.numSlides) {
                    s.currentSlideIndex = 0;
                }

                SliceSlider.showSlide();
            },
        };
        SliceSlider.init();
    })(jQuery);
</script>